// Main definitions
$color-white: #fff;
$color-grey1: #515f67;
$color-grey2: #353f46;
$color-blue:  #4bcaff;


// Bootstrap definitions
$screen-sm: 768px;
$screen-md: 992px;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$navbar-default-color: $color-white;
$navbar-default-bg: rgba(53, 63, 70, 0.9);
$navbar-default-link-active-color: $color-blue;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-hover-color: $color-blue;
$navbar-default-link-color: $color-white;
$navbar-margin-bottom: 0;
$btn-primary-bg: $color-blue;
